h1 {
    font-family: Quicksand;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

body {
    background-color: #252525;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000000, #434343);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#container {
    padding-top: 200px;
    margin: auto;
}

img {
    position: fixed;
    top: 50%;
    left: 50%;
    animation-name: drop;
    transform: translate(-50%, -50%);
    transition: transform .5s ease-in-out;
    animation-duration: .4s;
    animation-timing-function: linear;
}

@keyframes drop {
    0% {
        top: 0px;
        left: 50%
    }
    50% {
        top: 600px;
        left: 50%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
}

img:hover {
    transform: translate(-50%, -50%) rotate(360deg);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}