h1 {
    font-family: Quicksand;
    font-size: 28px;
    color: #000000;
    text-align: center;
}

body {
    background-color: #0a0a0a;
}

#title {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#container {
    padding-top: 200px;
    margin: auto;
}

img {
    width: 12%;
    height: 15%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    border: 3px solid #0a0a0a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle3 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle5 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle:hover {
    border: 3px solid #a1a1a1;

}

#circle2:hover {
    border: 18px solid #a1a1a1;
}

#circle3:hover {
    border: 15px solid #a1a1a1;
}

#circle4:hover {
    border: 10px solid #a1a1a1;
}

#circle5:hover {
    border: 2px solid #0a0a0a;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}