html {
	font-family: Quicksand;
	text-align: center;
}

.nav
{
  display: block;
  font-family: Quicksand;
  font-size: 20px;
  margin: 0;
}

.nav li
{
  display: inline-block;
  list-style: none;
}

.nav .button-dropdown
{
  position: relative;
}

.nav li a
{
  display: block;
  color: #0d0d0d;
  padding: 10px 20px;
  text-decoration: none;
}

.nav li a span
{
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  color: rgb(192,192,192, 0.6);
}

.nav li a:hover, .nav li a.dropdown-toggle.active
{
  color: #4caf50;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span
{
  color: #4caf50;
}

.nav li .dropdown-menu
{
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  text-align: left;
  max-width: 1280px;
  background-color: rgb(23,29,34, 0.8);
  box-shadow: 1px 2px 5px #000000;
}

.nav li .dropdown-menu.active
{
  display: block;
}

.nav li .dropdown-menu a 
{
  width: 150px;
}