#container {
  padding-top: 80px;
}

#title {
  text-align: center;
  height: 100px;
  position: relative;
}

#title h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: Quicksand;
  font-size: 32px;
  color: #00205c;
}

#intro {
  justify-content: left;
}

p {
  font-family: Quicksand;
  font-size: 18px;
  color: black;
}