/* Reset Styles */
section, div, a, h1, h2 {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
}

h1 {
    font-family: Quicksand;
    font-size: 26px;
    color: #00205c;
    padding-bottom: 0.5em;
}

h2 {
    font-family: Quicksand;
    font-size: 22px;
    padding-left: 20px;
    padding-bottom: 0.3em;
}

.unitList {
    display: none;
    position: relative;
    height: 115px;
    width: 700px;
    padding-left: 25px;
    margin: 1em auto;
}

.box1 {
    display: inline-flex;
    height: 100%;
    width: 225px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #c0c0c0;
}

.box2 {
    display: inline-flex;
    height: 100%;
    width: 225px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #c0c0c0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box3 {
    display: inline-flex;
    height: 100%;
    width: 225px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #c0c0c0;
    text-align: center;
    align-items: center;
    justify-content: center
}

.box1:hover {
    animation-name: fill-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.box2:hover {
    animation-name: fill-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.box3:hover {
    animation-name: fill-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fill-color {
    100% {
        background-color: #0057f9;
    }
}

a {
    text-decoration: none;
}

a:link, a:visited {
    font-family: Rambla;
    font-size: 16px;
    color: #00205c; 
}

a:hover, a:active {
    color: #ffffff;
}

/* For week 3, I added an accordion class */
/* Accordion Styling */
.accordion {
    flex-direction: row;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button {
    font-family: Quicksand;
    font-size: 20px;
    color: #000000;
}

.accordion:hover {
    text-shadow: 2px 4px 10px #5c0020;
}

.panel {
    padding: 0 18px;
    background-color: #ffffff;
    display: none;
    overflow: hidden;
}