/* 
   Murfreesboro Regional Soccer League style sheet 
   Filename: styles.css
   WDD222- Advanced CSS
   Author: Adrian Grimm
   Date: Adrian Grimm
   HTML5 and CSS3 Illustrated Unit D, Independent Challenge 2
 */

/* Reset Styles  */
article, aside, body, div, footer, header, h1, h2, p {
   border: 0;
   padding: 0;
   margin: 0;
}

/* Body and Page Container */
.container {
   max-width: 640px;
   margin: 0 auto;
   border: 3px solid #000000;
}

/* Main Content */
article {
   width: 55%;
   padding: 3%;
   float: right;
}

/* headings */
header {
   padding: 0.5em;
   text-align: center;
   color: white;
   background-color: green;
}

/* sidebar */
aside {
   width: 35%;
   padding: 2%;
   float: left;
   background-color: lightgreen;
}

aside h2 {
   margin-bottom: 0.4em;
}

aside p {
   margin: 0.4em;
}

aside p.description {
   margin-left: 1em;
}

/* footer section */
footer {
   clear: both;
   padding: 0.5em;
   color: white;
   background-color: black;
   text-align: right;
}