/*
    Adrian Grimm
    WDD222 Advanced CSS
    Final Project
    7/08/2019
*/
body {
    padding-top:70px;
    background-color: #000000;
    background: #0052BD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #c0c0c0, #0052BD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #c0c0c0, #0052BD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    font-family: Bellefair;
    font-size: 36px;
    color: #D1160D;
    text-shadow: 0px 1px 2px #000000;
}
p {
    font-family: Ubuntu;
    font-size: 20px;
    color: #000000;
    text-align: center;
}
hr {
    height: 1px;
    color: #ffffff;
    background-color: #666666;
    border: none;
}
.navbar {
    border: none;
    box-shadow: 0px 1px 4px #000000;
}
.navbar-inverse .navbar-nav li a, .navbar-inverse .navbar-brand {
    font-family: 'Ubuntu';
    font-size: 1.4em;
    color: #D1160D;
    text-shadow: 0px 1px 3px #000;
}
.navbar-inverse .navbar-nav li a:hover {
    color: #0094F0;
}
.navbar-inverse .navbar-nav li.active a:hover, .navbar-inverse .navbar-nav li.active a:visited {
    background-color: #1f1f1f;
    color: #0094F0;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #1f1f1f;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    background-color: #1f1f1f;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background: #1f1f1f;
    color: #0094F0;
    text-shadow: 0px 1px 2px #000000;
}
.navbar-inverse .navbar-nav li.active a {
    background-color: #1f1f1f;;
    color: #D1160D;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
        background-color: #1f1f1f;
        font-size: 1.5em;
    }
    .navbar-inverse .navbar-nav li a, .navbar-inverse .navbar-brand {
        font-size: 1.5em;
        color: #ffffff;
    }
}
@media (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}
.modal-body {
    background-color: #bbbbbb;
}
#motuModal {
    background-color: rgba(17, 17, 17, .5);
}
.item, .carousel {
    background-color: transparent;
}
.center {
    text-align: center;
    padding-top: 5%;
}