/*
    Murfreesboro Regional Soccer League Style Sheet
    Filename: styles.css
    Author: Adrian Grimm
    WDD222 - Advanced CSS  
    Date: 6/10/2019
    HTML5 and CSS3 Illustrated Unit C, Independent Challenge 2
*/
h1 {
    background-color: orangered;
}

h1, article {
    text-align: center;
}

footer {
    background-color: green;
    color: white;
}

.contact {
    text-align: right;
}